@charset "UTF-8";
#wrap {
	> header {
		position: relative;
		height: 800px;
		background-color: #5f0080;
		> .logo {
<<<<<<< HEAD
			padding: auto;
			top: 80px;
=======
			position: absolute;
			top: 88px;
>>>>>>> feature/visual
			left: 50%;
			width: 193px;
			background-image: url(../images/logo.png);
			transform: translate(-50%, 0);
			> a {
				display: block;
				height: 111px;
				text-indent: -9999px;
			}
		}
<<<<<<< HEAD
	} //feader
=======
	} //header
>>>>>>> feature/visual
} //wrap
